*{
	font-family: 'Molengo', sans-serif;
}
.page-title{
	text-align: center;
	margin-top:2rem;
}.addAconvo{
	margin-left:10px;
}
#convoForm{
	display:flex;
}
#allTheConvos button{
	border: none;
    background: none;
    text-decoration: underline;
    color: blue;
}
.dateColumn{
	padding-right: 7rem;
}.cTitleColumn{
	padding-right:6rem;
}